<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My website{% endblock %}</title>
    <style> 
        body {font-family: Arial,Helvetica,sans-serif; padding:20px;}
        header {background:black; color:white;padding:10px;}
        footer {background:yellow; padding:10px;margin-top:20px;}
    </style>
</head>
<body>
    <header>
        <h2>My site</h2>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About us</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Thanks for visiting my web page</p>
    </footer>
</body>
</html>
