<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>avg_marks</title>
</head>
<body>
    <h1>Scorecard</h1>
    <h3>Enter your marks and see the result</h3>
    <form action="/axis" method='POST'>
        <label for ="marks1">math</label>
        <input type="number" placeholder='enter your marks' id="marks1" name="math">
        <br><br>
        <label for ="marks2">science</label>
        <input type="number" placeholder='enter your marks' id="marks2" name="science">
        <br><br>
        <label for ="marks3">history</label>
        <input type="number" placeholder='enter your marks' id="marks3" name="history">

        <br><br>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>